# Archivos compilados y ejecutables
*.o
*.out
*.exe
a.out

# Directorios de compilación
bin/
build/

# Archivos temporales
*~
*.swp
.DS_Store

# Configuraciones de IDE
.vscode/
.idea/
*.code-workspace
cap9/
